 <% if user_signed_in?  %>
      <% if current_user.is_admin? %>

<div class="container mt-5">

  <h2>Estudiantes: </h2>
  <%= link_to "Agregar", new_student_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>


<div class="mt-3">

</div>

  <% @students.each do |student| %>
    <% paid_courses = 0 %>
        <% student.rooms.each do |room| %>
        <% if room.is_paid %>
        <% paid_courses = paid_courses + 1 %>
        <% else %>
        <% end %>
      <% end %>

      <div class="notification">
      <%= image_tag("robot.jpg", class: "avatar-large") %>
        <div class="notification-content">
              <h5><strong><%= student.first_name %> <%= student.last_name %></strong> - Cursos Anotados: <%= student.rooms.length %> Pagados: <%= paid_courses %> </h5>
              <p><small><%= paid_courses >= 1 ? "🟩 Cliente " : "🟥 Prospecto" %> - Ultimo contacto:  <%= student.last_contact == nil  ? "Registrar fecha" : student.last_contact.strftime('%d-%m-%Y')  %> - ¿Cancelo? <%= student.is_cancelled == true ? "SI" : "NO" %></small></p>
              <p>Telefono: <%=student.contact_phone%></p>
              <p>Responsable: <%= student.full_name_contact %>
        </div>

        <div class="notification-actions">
          <%= link_to "Ver Mas", student_path(student),class: "far fa-eye-alt" %>
          <%= link_to "Editar", edit_student_path(student) ,class: "far fa-eye-alt" %>
          <%= link_to "Eliminar",
            student_path(student),
            data: {method: :delete, confirm: "Estas Seguro?"},class: 'far fa-trash-alt'
          %>
        </div>
      </div>
    <% end %>



        <% else %>
        <h4>No sos admin</h4>
      <% end %>
    <% end %>
