 <% if user_signed_in?  %>
      <% if current_user.is_admin? %>



<div class="container p-3">
  <div class="card-trip">
      <%= image_tag("fondo_profile.jpg") %>
    <div class="card-trip-infos">
      <div>
        <h2><%=@student.first_name%>  <%=@student.last_name%> </h2>
        <p>Email: <%=@student.contact_email%></p>
        <p>Telefono: <%=@student.contact_phone%></p>
        <p>Fecha de Nacimiento: <%=@student.date_of_birth.strftime('%d-%m-%Y')%></p>
        <p>Colegio: <%=@student.school%></p>
        <p>Persona Responsable: <%=@student.full_name_contact%></p>
        <%# <p><%= @student.is_converted == true ? "游릴 Cliente " : "游린 Prospecto" %>
        <p><%= @paid_courses >= 1 ? "游릴 Cliente " : "游린 Prospecto" %></p>
        <strong><p>Cursos Pagados: <%= @paid_courses %></p></strong>
        <p>Medio: <%=@student.channel%></p>
        <p>Autorizado para redes: <%= @student.allow_social == true ? "游닞" : "游닛" %></p>
      </div>

        <%= image_tag("robot.jpg", class: "card-trip-user avatar-bordered") %>
        <h3>Ultimo contacto: <%= @student.last_contact == nil  ? "Registrar fecha" : @student.last_contact.strftime('%d-%m-%Y')  %></h3>
        <h3>Cancelo: <%= @student.is_cancelled == true ? "SI 游린" : "AUN NO" %></h3>
    </div>

    <ul>
      <%= link_to "Eliminar",
              student_path(@student),
              data: {method: :delete, confirm: "Estas Seguro?"},class: 'custom-btn custom-border-btn btn custom-link mt-3 me-3'
            %>
      <%= link_to "Editar", edit_student_path,class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
      <%= link_to "Volver", students_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
    </ul>
  </div>

  <div class="container border m-1 p-3 shadow">
    <h3>Agregar a un curso: </h3>
    <p> Agregar a: <%= @student.first_name %> <%= @student.last_name %></p>
    <%= simple_form_for [@student, @room] do |f| %>
     <%= f.association :course, collection: Course.order("created_at DESC"), label: false,
                  label_method: lambda { |item| "Curso #{item.name} --- Dia: #{item.date.strftime("%-d.%-m.%y")}" }%>

    <%= f.input :is_paid, label: "Pago?" %>
    <%= f.button :submit, "Agregar a curso",class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
    <% end %>
  </div>


<div class="mt-3">
  <h3>Cursos de <%= @student.first_name %>: </h3>
  <h4>Total de cursos: <%= @student.rooms.length %> </h4>



<div class="container">
  <% @rooms.each do |room| %>
  <div class="notification">
      <div class="notification-content d-flex">
        <h5><strong> Curso: <%= room.course.name %>
          <p>Pago: <%= room.is_paid == true ? "SI 游릴" : "NO 游린" %></p>
      </div>

      <div class="notification-actions">
      <%= link_to "Quitar del curso",
            student_room_path(student_id: params[:id], id: room),
            data: {method: :delete, confirm: "Estas Seguro?"},class: ''
        %>
        <%= link_to "Pago /No Pago",
        student_room_path(student_id: params[:id], id: room),
        data: {method: :patch, confirm: "Estas Seguro?"},class: ''
        %>

      </div>

  </div>
   <% end %>
</div>









<% end %>
</div>

        <% else %>
      <% end %>
