<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div>
      <ul class="navbar-nav me-auto in-line ">
        <% if user_signed_in? %>
          <li class="nav-item active in-line">
            <%= link_to "Inicio", "/", class: "nav-link" %>
            <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
             <% if current_user.is_admin? %>
               <%= link_to "Agregar Nuevo Curso", new_course_path %>
             <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar Sesion", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
