<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_two.JPG' %>);">
  <div class="container">
    <h2>¡Ayudando a pequeñas personas, lograr cosas gigantes!</h2>
    <p>Acelera tu conocimiento con Ombu Hub</p>
    <a class="btn btn-flat" href="/courses">Ver Cursos</a>
  </div>
</div>

<div class= "container mt-5">
  <%= simple_form_for :search, url: courses_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="params[:query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Buscar Cursos
      </button>
    </div>
  <% end %>
</div>


<div>
  <div class="container">
    <% @courses.each do |course| %>
      <div class="card-trip mt-5">
        <%= cl_image_tag course.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-trip-infos">
        <div>
          <h2>Nombre del curso: <%=course.name%></h2>
          <p>Descripcion Corta del curso: <%=course.short_description%></p>
          <p>Proxima Fecha del curso: <%=course.date%></p>
          <%= link_to "Ver Mas", course_path(course),class: "btn btn-flat mt-3" %>
        </div>
      </div>
      </div>
    <% end %>
</div>





</div>
