<!--
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_two.JPG' %>);">
<div class="container">
<h2>¡Ayudando a pequeñas personas, lograr cosas gigantes!</h2>
<p>Acelera tu conocimiento con Ombu Hub</p>
<a class="btn btn-flat" href="/courses">Ver Cursos</a>
</div>
</div>

<div class= "container mt-5">
<div class= "home-text p-2">
<h2>Ombu Hub nace como una propuesta para contribuir con la educación digital desde <strong>Tucuman</strong></h2>
<p>Forma parte la revolución de ombu Hub.</p>
<br>
<%= simple_form_for :search, url: courses_path, method: :get do |f| %>
<div class="search-form-control form-group">
<input class="form-control string required" type="text" name="params[:query]" id="search_query" />
<button name="button" type="submit" class="btn btn-flat">
  <i class="fas fa-search"></i>Buscar
</button>
</div>
<% end %>
<br>

</div>
</div>

<div>
<div class="container">
  <%= render "shared/course_card" %>
</div>
</div>
-->
    <section class="hero hero-customized" id="section_1"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_two.JPG' %>); background-repeat: no-repeat;  background-attachment: scroll; background-position: top center;background-size: cover;">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-12 m-auto">
                    <div class="hero-text p-2">

                        <h1 class="text-white mb-4"><u class="text-info">Ombu</u> Hub</h1>

                        <div class="d-flex justify-content-center align-items-center">
                            <span class="date-text">Acelera tu Crecimiento</span>

                            <span class="location-text">Tucuman</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      </section>

      <section class="about section-padding" id="section_2">
          <div class="container">
              <div class="row">

                  <div class="col-lg-10 col-12">
                      <h2 class="mb-4">Nuestra <u class="text-info">Historia</u></h2>
                  </div>

                  <div class="col-lg-6 col-12">
                      <h3 class="mb-3">La importancia de la educacion</h3>

                      <p>La creatividad debe ser tan importante en la educación como la alfabetización. En las escuelas se desprecia la creatividad y solo se premia la habilidad en matemáticas, lengua o historia, cuando deberían estar al mismo nivel. - Ken Robinson -  </p>

                      <%= link_to "Cursos", courses_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
                      <a rel="stylesheet" href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20.", class = "custom-btn btn custom-link mt-3">Contacto</a>


                  </div>

                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                      <h4> La tecnología desarrolla el crecimiento personal, desarrollo de habilidades y oportunidades para conseguir un buen trabajo. </h4>

                      <div class="avatar-group border-top py-5 mt-5">
                          <p class="d-inline">Mas de 100 jovenes pasaron por Ombu Hub</p>
                      </div>
                  </div>

              </div>
          </div>
      </section>


      <section class="speakers section-padding" id="section_3">
          <div class="container">
              <div class="row">

                  <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                      <div class="speakers-text-info">
                          <h2 class="mb-4">Nuestros <u class="text-info">Profesores</u></h2>

                          <p>No podemos educar a otros mirándonos a nosotros mismos. Nuestro espejo debería ser el propio alumno</p>
                      </div>
                  </div>

                  <div class="col-lg-6 col-12">
                      <div class="speakers-thumb">
                          <img src="images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg" class="img-fluid speakers-image" alt="">
                      </div>
                  </div>

                  <div class="col-lg-12 col-12">
                      <div class="row">
                          <div class="col-lg-3 col-md-6 col-12">
                              <div class="speakers-thumb speakers-thumb-small">
                                  <img src="images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg" class="img-fluid speakers-image mt-5" alt="">

                                  <div class="speakers-info">
                                      <h5 class="speakers-title mb-0">Nicolas</h5>

                                      <p class="speakers-text mb-0">Robotica</p>

                                      <ul class="social-icon">
                                          <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                          <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-3 col-md-6 col-12">
                              <div class="speakers-thumb speakers-thumb-small">
                                  <img src="images/avatar/senior-man-white-sweater-eyeglasses.jpg" class="img-fluid speakers-image mt-5" alt="">

                                  <div class="speakers-info">
                                      <h5 class="speakers-title mb-0">Marcos</h5>

                                      <p class="speakers-text mb-0">Robotica</p>

                                      <ul class="social-icon">
                                          <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                          <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-3 col-md-6 col-12">
                              <div class="speakers-thumb speakers-thumb-small">
                                  <img src="images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg" class="img-fluid speakers-image mt-5" alt="">

                                  <div class="speakers-info">
                                      <h5 class="speakers-title mb-0">Julian</h5>

                                      <p class="speakers-text mb-0">Robotica</p>

                                      <ul class="social-icon">
                                          <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                          <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                          <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-lg-3 col-md-6 col-12">
                              <div class="speakers-thumb speakers-thumb-small">
                                  <img src="images/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg" class="img-fluid speakers-image mt-5" alt="">

                                  <div class="speakers-info">
                                      <h5 class="speakers-title mb-0">Eduardo</h5>

                                      <p class="speakers-text mb-0">Programacion</p>

                                      <ul class="social-icon">
                                          <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                          <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>



      <section class="about section-padding" id="section_2">
          <div class="container">
              <div class="row">

                  <div class="col-lg-10 col-12">
                      <h2 class="mb-4">Ombu <u class="text-info">Hub</u></h2>
                  </div>

                  <div class="col-lg-6 col-12">
                      <h3 class="mb-3">Propuesta: </h3>

                      <p>Promover una sociedad colaborativa donde nuestra organización fomente el desarrollo de recursos humanos motivados por la curiosidad en las nuevas tecnologías, donde personas puedan aprender de manera creativa aportando valor para las nuevas necesidades tecnológicas.</p>

                      <%= link_to "Cursos", courses_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
                      <a rel="stylesheet" href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20.", class = "custom-btn btn custom-link mt-3">Contacto</a>


                  </div>

                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                      <h4>Crear un ambiente de impacto a través de la innovación y la educación con la capacitación y colaboración en formación de personas y proyectos. </h4>

                      <div class="avatar-group border-top py-5 mt-5">
                          <p class="d-inline">Nuestra Mision</p>
                      </div>
                  </div>

              </div>
          </div>
      </section>

      <section class="venue section-padding" id="section_6">
          <div class="container">
              <div class="row">

                  <div class="col-lg-12 col-12">
                      <h2 class="mb-5">Aqui <u class="text-info">estamos!</u></h2>
                  </div>

                  <div class="col-lg-6 col-12">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14242.63103987709!2d-65.2630551!3d-26.8190239!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56d486d32847edaf!2sOmbu%20Hub!5e0!3m2!1ses!2sde!4v1659224741705!5m2!1ses!2sde" width="100%" height="371.59" allowfullscreen="" loading="lazy"></iframe>
                  </div>

                  <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                      <div class="venue-thumb bg-white shadow-lg">

                          <div class="venue-info-title">
                              <h2 class="text-white mb-0">Ombu Hub - Tucuman</h2>
                          </div>

                          <div class="venue-info-body">
                              <h4 class="d-flex " >
                                 Mate de Luna 4664, San Miguel de Tucuman, Argentina
                              </h4>

                              <h5 class="mt-4 mb-3">
                                  <a href="mailto:ombuhub@gmail.com" class="">
                                      ombuhub@gmail.com
                                  </a>
                              </h5>

                              <h5 class="mb-0 ">
                                  <a href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20." class="">
                                      WhatsApp
                                  </a>
                              </h5>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </section>


  </main>
