<div class="container m-3">
  <h1>Editar room</h1>
<%= simple_form_for [@student, @room] do |f| %>
     <%= f.association :course, collection: Course.order("created_at DESC"), label: false,
                  label_method: lambda { |item| "Curso #{item.name} -- Dia: #{item.date.strftime("%-d.%-m.%y")} -- Precio: #{item.price}" }, label: 'Curso:' %>
    <%= f.input :course_date, label: 'Dia curso', placeholder: 'Dia curso'%>
    <%= f.input :modified_price, label: '¿Precio especial total o precio con descuento?', placeholder: 'Precio con descuento'%>
    <%= f.input :ammount, label: '¿Monto Pagado por estudiante?', placeholder: 'Pago'%>
    <%= f.button :submit, "Guardar",class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
    <% end %>

</div>
