

<% @courses.each do |course| %>
    <div class="col-lg-3 col-12 m-4 p-2">
          <%# <div class="card shadow" style="width: 18rem; height: 100%; "> %>
            <div class="card shadow">
                <%= cl_image_tag course.photo.key, class: "card-img-top", height: 150 %>
                <div class="card-body" style="height: 100%; display: flex;flex-direction: column;justify-content
            : space-between;">
                  <h6 class="card-title"><%=course.name.upcase%></h6>
                  <% if course.level.nil?%>
                  <p>Nivel a confirmar</p>
                  <% else %>
                  <p>Nivel: <%=course.level.upcase%></p>
                  <% end %>
                  <% if course.is_confirm == false %>
                  <p class="mt-4 mb-3">Fecha a confirmar</p>
                  <% else %>
                  <p class="mt-4 mb-3"><%= course.date.strftime('%d-%m-%Y') %>
                  <br><%= course.date > Date.today ? "Proximamente " : "Expirado "%></p>
                <% end %>
                  <%= link_to "Ver Mas", course_path(course),class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
                </div>
          </div>
      </div>
  <% end %>
