

<div class="container">
    <h2 class= "mt-3" >Mira nuestros cursos:</h2>
      <div class="row m-3">
      <% @courses.each do |course| %>
        <div class="col-lg-6 col-12">
          <div class="venue-thumb bg-white shadow-lg mt-5">

              <div class="venue-info-title">
                  <h2 class="text-white mb-0"><%=course.name.upcase%></h2>
              </div>

              <div class="venue-info-body">
                  <h4 class="d-flex " >
                      <%=course.short_description.upcase%>
                  </h4>
                    <h5 class="mt-4 mb-3"><%= course.date.strftime('%d-%m-%Y') %><%= course.date > Date.today ? " - Proximamente " : " - Expirado "%></h5>
                  <%= link_to "Ver Mas", course_path(course),class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
              </div>
          </div>
        </div>
        <% end %>
</div>
