<div class="container">
<h2>Mira nuestros cursos disponibles en Ombu hub:</h2>
  <% @courses.each do |course| %>
    <div class="card-trip mt-5">
      <%= cl_image_tag course.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2>Nombre del curso: <%=course.name%></h2>
        <p>Descripcion Corta del curso: <%=course.short_description%></p>
        <p>Proxima Fecha del curso: <%=course.date%></p>
        <%= link_to "Ver Mas", course_path(course),class: "btn btn-flat mt-3" %>
      </div>

    </div>
    </div>
  <% end %>

</div>
