<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @course.photo.key, height: 300, crop: :fill %>')">
  <div class="container">
    <h1><%=@course.name%></h1>
    <p><%=@course.short_description%></p>
    <a class="btn btn-flat" href="http://wa.link/w3sgmm" target="_blank">WhatsApp</a>
  </div>
</div>

<div class="container mt-5">
  <div class = "info-container m-5">
    <div class="img-show p-2">
      <%= image_tag "profe.JPG" %>
    </div>
    <div class="info-show p-2">
      <h2>Descripcion del curso:</h2>
      <p><%=@course.long_description%></p>
      <strong><p>Proximo Curso: <%=@course.date%></p></strong>
    </div>
  </div>

<div class="container mt-5">
  <div class = "info-container m-5">
    <div class="info-show p-2">
      <h2>¿Que Voy a Aprender?</h2>
      <p><%=@course.what%></p>
    </div>
    <div class="img-show p-2">
      <%= image_tag "alumnos.jpg" %>
    </div>
  </div>


<div class="container mt-5">
  <div class = "info-container m-5">
    <div class="img-show p-2">
      <%= image_tag "haciendo.jpg" %>
    </div>
    <div class="info-show p-2">
      <h2>Proyecto Final</h2>
      <p><%=@course.project%></p>
    </div>
  </div>

<div class="container mt-5">
  <div class = "info-container m-5">
    <div class="info-show p-2">
      <h2>Mas Informacion: </h2>
      <p>Capacidad de alumnos: <%=@course.capacity%></p>
      <p>Edad Minima: <%=@course.minimun_age%> años.</p>
      <p>Edad Maxima: <%=@course.max_age%> años.</p>
      <strong><p>Proximo Curso: <%=@course.date%></p></strong>
    </div>
    <div class="img-show p-2">
      <%= image_tag "mas_info.jpg" %>
    </div>
  </div>





  <ul>
    <%= link_to "Volver a Cursos", courses_path,class: 'btn btn-flat' %>
  </ul>

<% if user_signed_in?  %>
  <% if current_user.is_admin? %>
  <ul>
    <%= link_to "Editar Curso", edit_course_path, class: 'btn btn-flat' %>
    <%= link_to "Eliminar Curso",
      course_path(@course),
      data: {method: :delete, confirm: "Estas Seguro?"},class: 'btn btn-flat'
    %>
  </ul>
  <% else %>
<% end %>
<% end %>


</div>
