
<section class="hero hero-customized" id="section_1"
style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @course.photo.key, height: 800, crop: :fill %>'); background-repeat: no-repeat;  background-attachment: scroll; background-position: bottom center;background-size: cover;">



    <div class="container">
        <div class="row">

            <div class="col-lg-5 col-12 m-auto">
                <div class="hero-text px-5 py-4 shadow-lg" style="background-color: rgba(0,64,110,0.8)
;">

                    <h2 class="text-white mb-4"><u class="text-info"><%=@course.name.capitalize%></u> </h2>

                    <div class="d-flex justify-content-center align-items-center">
                     <% if @course.is_confirm == false %>
                        <span class="date-text">Fecha a confirmar</span>
                        <span class="location-text">Mantenete enterado aqui</span>
                        <% else %>
                        <span class="date-text"><%= @course.date > Date.today ? " Proximamente " : " Expirado " %></span>
                        <span class="location-text"><%= @course.date.strftime('%d-%m-%Y') %></span>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h2 class="mb-4">Sobre <u class="text-info">el Curso</u></h2>
            </div>

            <div class="col-lg-6 col-12">
                <h3 class="mb-3">쯈ue vas a aprender?</h3>

                <p><%=@course.what%></p>

                <%= link_to "Ver otros cursos", courses_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
                <a rel="stylesheet" href="https://api.whatsapp.com/send?phone=+5493815752672&text=Hola Ombu Hub%21%20.", class = "custom-btn btn custom-link mt-3">Contacto</a>


            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <h4> <%=@course.long_description%> </h4>

                <div class="avatar-group border-top py-5 mt-5">
                    <p class="d-inline">Mas de 100 jovenes pasaron por Ombu hub</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="speakers section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="speakers-text-info">
                    <h2 class="mb-4">Mas <u class="text-info">Informacion</u></h2>

                    <p>Proyecto Final: <%=@course.project %></p>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="speakers-thumb">
                    <img src="images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg" class="img-fluid speakers-image" alt="">
                </div>
            </div>

            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="speakers-thumb speakers-thumb-small">
                            <img src="images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg" class="img-fluid speakers-image mt-5" alt="">

                            <div class="speakers-info">
                                <h5 class="speakers-title mb-0"><%=@course.capacity%> Personas</h5>

                                <p class="speakers-text mb-0">Capacidad</p>

                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="speakers-thumb speakers-thumb-small">
                            <img src="images/avatar/senior-man-white-sweater-eyeglasses.jpg" class="img-fluid speakers-image mt-5" alt="">

                            <div class="speakers-info">
                                <h5 class="speakers-title mb-0"><%=@course.minimun_age%> a침os</h5>

                                <p class="speakers-text mb-0">Edad Minima</p>

                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="speakers-thumb speakers-thumb-small">
                            <img src="images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg" class="img-fluid speakers-image mt-5" alt="">

                            <div class="speakers-info">
                                <h5 class="speakers-title mb-0"> <%=@course.max_age%> a침os</h5>

                                <p class="speakers-text mb-0">Edad Maxima</p>

                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="speakers-thumb speakers-thumb-small">
                            <img src="images/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg" class="img-fluid speakers-image mt-5" alt="">

                            <div class="speakers-info">

                            <% if @course.is_confirm == false %>
                              <h5 class="speakers-title mb-0">Fecha a confirmar</h5>
                              <p class="speakers-text mb-0">Proximamente</p>
                              <% else %>
                              <h5 class="speakers-title mb-0">Dia: <%=@course.date.strftime('%d-%m-%Y')%></h5>
                              <p class="speakers-text mb-0"><%= @course.date > Date.today ? " Proximamente " : " Expirado " %></p>
                            <% end %>


                                <ul class="social-icon">
                                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="venue-white section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <h2 class="mb-5">Aqui <u class="text-info">estamos!</u></h2>
            </div>

            <div class="col-lg-6 col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14242.63103987709!2d-65.2630551!3d-26.8190239!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56d486d32847edaf!2sOmbu%20Hub!5e0!3m2!1ses!2sde!4v1659224741705!5m2!1ses!2sde" width="100%" height="371.59" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <%= render '/pages/info_card' %>
            </div>
            </div>

        </div>
    </div>
</section>

<div class="container">
  <div class="col-lg-6 col-12">
      <%= link_to "Volver", courses_path, class: "custom-btn custom-border-btn btn custom-link mt-3 me-3" %>
      <% if user_signed_in?  %>
      <% if current_user.is_admin? %>
      <%= link_to "Editar Curso", edit_course_path, class: 'custom-btn btn custom-link mt-3' %>
      <%= link_to "Eliminar Curso",
        course_path(@course),
        data: {method: :delete, confirm: "Estas Seguro?"},class: 'custom-btn btn custom-link mt-3'
      %>


    <div class="container m-3">
      <% rooms = Room.where(course_id: params[:id]) %>
      <h3>Curso: <%= @course.name %> </h3>
      <h4 class="" >Inscriptos a este curso: <%= rooms.length %></h4>
            <ol>
            <% rooms.each do |room| %>
              <li class="mt-3" >  Nombre: <%= room.student.first_name %> <%= room.student.last_name  %> | Pago: <%= room.is_paid == true ? "Si 游릴" : "No 游린 " %>   | Dia curso: <%= room.course_date %> | <%= link_to "Ver Estudiante", student_path(room.student.id)%></li>
            <% end %>
            </ol>
    </div>




        <% else %>
      <% end %>
    <% end %>
  </div>
</div>
